:root {
  /* FUENTES */
  --poppins: "Poppins", sans-serif;
  --montserrat: "Montserrat", sans-serif;
  --opensans: "Open Sans", sans-serif;

  /* COLORES NORMALES */

  --color-white: #fff;
  --color-black: #000;

  /* UTILIDADES */

  --border: 1px solid red;

  /* PALETA DE COLORES 1 */
  --color1: #a300df;
  --color2: #3900f6;
  --color3: #24c7f6;
  --color4: #141516;
  --color5: #404040;

  --text: rgb(156 163 175);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--poppins);
  list-style: none;
  text-decoration: none;
  color: var(--color-white);
}

/* BODY */

body {
  background-color: var(--color4);
}

main {
  max-width: 1200px;
  margin: 0 auto;
}

html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color4);
  padding: 1rem;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.header-logo {
  font-size: 2.5rem;
}

.navbar,
.list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.list {
  gap: 45px;
}

.list a {
  font-size: 20px;
  font-weight: 600;
  text-shadow: 1px 1px 0px var(--color-black);
}

#menu-toggle,
.menu-label {
  display: none;
}

.button {
  display: flex;
  gap: 1rem;
}

.button-navbar a:nth-child(1) {
  background-color: #424242;
  color: var(--color-white);
  font-weight: 600;
  outline: 1px solid var(--color5);
}

.button-navbar a:nth-child(2) {
  background-color: rgb(34, 34, 34);
  font-weight: 700;
  outline: 1px solid var(--color5);
}

.button-navbar a {
  transition: 0.5s all;
}

.button-navbar a:hover {
  box-shadow: 0px 0px 5px 2px rgba(104, 118, 121, 0.37);
  -webkit-box-shadow: 0px 0px 5px 2px rgba(100, 129, 134, 0.37);
  -moz-box-shadow: 0px 0px 5px 2px rgba(106, 130, 134, 0.37);
}

/* STYLE GENERAL */

.button-style {
  outline: 1px solid white;
  padding: 7.5px;
  border-radius: 10px;
}

/* CONTENIDO MAIN  */

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  padding: 50px;
}

#hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
  gap: 50px;
  animation: left 3s ease 0s 1 normal forwards;
  width: 100%;
}

.hero-info {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.hero-title {
  font-size: 4rem;
  font-weight: 800;
}

.hero-text {
  max-width: 530px;
  font-size: 1rem;
  color: rgb(156 163 175);
  letter-spacing: 2px;
  font-family: var(--opensans);
}

.hero-info,
.icon {
  flex: 1;
}

.icon {
  display: flex;
  justify-content: flex-end;
}

.hero__logo {
  font-size: 22rem;
}

.hero-button a {
  transition: 0.5s all;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.hero-button a:nth-child(1) {
  background-color: #181818;
  color: var(--color-white);
  font-weight: 600;
  outline: 1px solid var(--color5);
}

.hero-button a:nth-child(2) {
  background-color: transparent;
  color: var(--color-white);
  font-weight: 700;
  outline: 1px solid var(--color5);
  background-color: transparent;
}

.hero-button a {
  width: 150px;
  text-align: center;
}

.hero-button a:hover {
  box-shadow: 0px 0px 5px 2px rgba(104, 118, 121, 0.37);
  -webkit-box-shadow: 0px 0px 5px 2px rgba(100, 129, 134, 0.37);
  -moz-box-shadow: 0px 0px 5px 2px rgba(106, 130, 134, 0.37);
}

#about {
  width: 100%;
  display: flex;
}

.about-info {
  display: flex;
}

.about-data {
  display: flex;
  flex-direction: column;
  gap: 20px;
  animation: rotate 4s ease 0s 1 normal forwards;
}

.about-title {
  font-size: 1.5rem;
  font-weight: 800;
}

.about-text {
  max-width: 740px;
  color: var(--text);
  letter-spacing: 2px;
  font-family: var(--opensans);
}

span {
  font-weight: 800;
  color: var(--color-white);
}

.tecnologias {
  display: flex;
  gap: 30px;
}

.about-tecno {
  display: flex;
  gap: 20px;
  width: fit-content;
  flex-direction: column;
  align-items: flex-end;
}

.about-data,
.about-tecno {
  flex: 1;
}

.tec-info {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-end;
  animation: tarde 5s ease normal forwards;
}

@keyframes tarde {
  0% {
    opacity: 0;
    display: none;
    transform: translateX(400px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

figure img {
  max-height: 40px;
}

/* CARDS */

#cards {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

#cards h2 {
  font-size: 2rem;
}

.cartas-img {
  width: 60%;
  border-radius: 1rem;
  box-shadow: 0px 0px 57px -31px rgba(204, 204, 204, 0.31);
  -webkit-box-shadow: 0px 0px 57px -31px rgba(204, 204, 204, 0.31);
  -moz-box-shadow: 0px 0px 57px -31px rgba(204, 204, 204, 0.31);
}

.cartas {
  display: flex;
  max-width: 1600px;
}

.image-link {
  display: inline-block;
  width: 60%;
  transition: 1s all ease;
  animation: rigth 2s ease 0s 1 normal forwards;
  animation-delay: 0.5s;
}

/* Estilo para la imagen */
.image-link img {
  display: block;
  width: 100%;
}

.image-link:hover {
  width: 70%;
}

.cartas-contenido {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  max-width: 100%;
  flex-wrap: wrap;
}

#contacto {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.contenido {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.ubication-info {
  width: 400px;
  display: inline-block;
  font-family: var(--poppins);
}

.ubication-info h2 {
  font-size: 4rem;
  font-weight: 800;
}

.ubication-1 {
  flex-direction: column;
  display: flex;
  gap: 20px;
}

.ubication-1 i {
  display: flex;
  gap: 10px;
  font-size: 1.5rem;
  color: var(--text);
}

.ubication-1 span {
  font-weight: 300;
  font-size: 1.2rem;
  color: var(--text);
  letter-spacing: 2px;
  font-family: var(--opensans);
}

.iframe {
  padding: 50px;
  width: 100%;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  gap: 1rem;
}

.iframe-title {
  font-size: 2rem;
  font-family: var(--poppins);
}

iframe {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.social {
  display: flex;
  gap: 30px;
  padding: 50px 0;
  font-size: 2rem;
}

.social i {
  transition: 1s all;
  color: var(--text);
}

.social i:hover {
  color: #b6b6b6;
  font-size: 2.2rem;
}

.form {
  background: #181919;
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  border-radius: 10px;
  width: 500px;
  padding: 20px;
  display: grid;
  gap: 20px;
}

.form-title {
  font-size: 2rem;
  font-style: italic;
}

.form-input label {
  display: block;
  font-size: 1.25rem;
  font-family: var(--poppins);
  font-weight: 600;
  display: flex;
  gap: 10px;
  align-items: center;
}

.form-input {
  display: grid;
  gap: 20px;
}

.form-input input {
  padding: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  color: #f3f3f3;
  background-color: #212121;
}

.checkbox a {
  color: #a0a0a0;
  text-decoration: underline;
}

.textarea {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

textarea {
  background-color: #212121;
  border: none;
  border-radius: 10px;
  padding: 10px;
  resize: none;
}

.submit-button {
  padding: 10px;
  background: transparent;
  border: none;
  outline: 1px solid var(--text);
  font-size: 1rem;
  font-weight: 600;
  font-family: var(--poppins);
  cursor: pointer;
  border-radius: 20px;
}

footer {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 50px;
}

footer p {
  font-size: 1.4rem;
  letter-spacing: 2px;
  font-family: var(--opensans);
}

.footer {
  max-width: 1200px;
  margin: auto;
  padding: 30px;
  flex-wrap: wrap;
  border-top: 1px solid white;
}

.redes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px;
}

.redes i {
  font-size: 2rem;
  transition: 1s all;
  cursor: pointer;
}

.redes i:hover {
  color: #a7a7a7;
  text-shadow: 3px 2px 18px rgba(0, 0, 0, 0.51);
}

.list li {
  position: relative;
}

.list li a::after {
  content: "";
  position: absolute;
  background-color: var(--color-white);
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.5s;
}

.list li a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@keyframes left {
  0% {
    opacity: 0;
    transform: translateX(-250px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes rotate {
  0% {
    opacity: 0;
    transform: scale(0.6);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes rigth {
  0% {
    opacity: 0;
    transform: translateX(500px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.button-style:hover,
.list li a:hover {
  transition: 0.3s ease-in-out;
}

/* =============================== MEDIAQUERIES =============================== */

@media (max-width: 992px) {
  .list {
    position: absolute;
    top: 65px;
    left: 5%;
    right: 5%;
    flex-direction: column;
    width: 90%;
    border-top: 0;
    background: var(--color4);
    border: 1px solid white;
    border-top: 0;
    border-radius: 0px 0px 15px 15px;
    gap: 25px;
    padding: 45px 0;
    display: none;
  }

  .menu-label {
    display: flex;
  }

  #menu-toggle:checked + .list {
    display: flex;
  }

  .burger-icon {
    font-size: 2rem;
  }

  .hero-title {
    font-size: 5rem;
  }

  .hero-text {
    max-width: 700px;
    font-size: 1.2rem;
  }

  .about-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .icon {
    display: none;
  }

  .about-tecno {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .tec-info {
    align-items: flex-start;
  }

  .about-text {
    max-width: 800px;
  }

  .ubication-info h2 {
    font-size: 3rem;
  }

  .image-link {
    width: 75%;
  }

  .iframe {
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
    margin-top: 20px;
  }
}

@media (max-width: 576px) {
  figure img {
    max-height: 30px;
  }

  .image-link {
    width: 95%;
  }

  .image-link:hover {
    width: 95%;
  }

  .form {
    max-width: 300px;
  }

  .hero-title {
    font-size: 4rem;
  }
}
